<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content})}">
<head>
<meta charset="UTF-8">
<title>Appointment Successfull</title>
</head>
<body id="content">
<h1>The current time is  <span th:text="${datetime}"></span></h1>
<h1>Hello <span th:text="${appointment.name}"></span>,Your slot is booked </h1>
<h1 >Your appointment id is  <span th:text="${appointment.id}"></span></h1>
<h1 >Your appointment  is done for <span th:text="${appointment.date}"></span></h1>

</body>
</html>