<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content})}">
<head>
<meta charset="UTF-8">
<title>You can contact</title>
</head>
<body>
	<div id="content" class="Main">


		<address>Jeevan Jyoti Hospital, Singh Complex, Infront of
			Gandak Project, Hajipur - Lalganj Rd, Lalganj, Bihar 844121</address>
		<br>

		<form action="fileupload" method="post" enctype="multipart/form-data">
			<input type="file" name="fileuploads">File upload</input> <input
				type="submit">upload</input>
		</form>




	</div>
</body>
</html>