<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content})}">

<head>
<meta charset="UTF-8">
<title>List of Registered User</title>
</head>
<body>
	<div id="content" >
		<h1 th:text=${Header} style="margin-left: auto;margin-right: auto;width: 40%"></h1>
		<h1 th:text=${Header1} style="margin-left: auto;margin-right: auto;width: 40%"></h1>


		<!-- <p th:text="${getallregistereduser}"></p> -->


		<table style="background-color: teal;margin-left: auto;margin-right: auto;width: 80%" class="table table-dark table-hover">
			<thead>
				<tr>
					<th style="background-color: teal">User Name</th>
					<th style="background-color: teal">Email</th>
					<th style="background-color: teal">Phone</th>
				</tr>
			</thead>
			<tbody style="background-color: white; justify-content: center;align-items: center;height: 50vh">
				<!-- Iterate over the 'registered user' from the model -->
				<tr th:each="registereduser : ${getallregisteredusers}">
					<!-- Display properties of each 'registered user' object -->

					<td th:text="${registereduser.username}"></td>
					<td th:text="${registereduser.email}"></td>
					<td th:text="${registereduser.phonenumber}"></td>
				</tr>
			</tbody>

		</table>
			<h1 style="margin-left: auto;margin-right: auto;width: 70%">
			current time:  <span th:text="${datetime}"></span>
		</h1>
	</div>
</body>
</html>